body{
  background: black;
}

#page{
  width: 90%;
  height: 500px;
  margin: 50px auto;
  text-align: center;
  color: rgba(121,125,232);

}

.orange{
  width: 45%;
  margin: 0 auto;
}

#container{
	width: 50%;
	height: 100px;
	margin: 20px auto;
	background: white;
	border: 3px solid;
	border-color: red;
}

.M{
	margin: 0 0 0 0;
	float: left;
}

.name{
	margin: 0 0 0 0;
	float: left;

}

.date{
	margin: 18px 0px 0px -100px;
	float: left;

}

.field{
margin: 0 0 0 0;
float: right;
}

#container button{
width: 80px;
height: 33px;
margin: 0 0 0 200px;
float: right;
}

.user-msg{
color: black;
background: white;
margin: 10px auto;
width: 50%;
height: 100px;
}

.user-msg .teste{
  text-align: right;
  font-size: 25px;
  margin: 0 0 0 20px;
  float: right;
}
